.custom-background {
    background-image: url("/resource/Nature");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .custom-class {
    color: yellowgreen;
    border: 10px solid currentcolor;
  }